@model CheckoutViewModel

<div class="container">
    <form asp-action="Checkout" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Order.UserId" />
        <div class="row">

            <div class="col-lg-7 border">
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.FirstName" class="form-label"></label>
                        <input asp-for="Order.FirstName" class="form-control" placeholder="First Name"/>
                        <span asp-validation-for="Order.FirstName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.LastName" class="form-label"></label>
                        <input asp-for="Order.LastName" class="form-control" placeholder="Last Name"/>
                        <span asp-validation-for="Order.LastName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.StreetAddress1" class="form-label"></label>
                        <input asp-for="Order.StreetAddress1" class="form-control" placeholder="Street Address 1"/>
                        <span asp-validation-for="Order.StreetAddress1" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.StreetAddress2" class="form-label"></label>
                        <input asp-for="Order.StreetAddress2" class="form-control" placeholder="Street Address 2"/>
                        <span asp-validation-for="Order.StreetAddress2" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.City" class="form-label"></label>
                        <input asp-for="Order.City" class="form-control" placeholder="City"/>
                        <span asp-validation-for="Order.City" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.StateOrRegion" class="form-label"></label>
                        <input asp-for="Order.StateOrRegion" class="form-control" placeholder="State Or Region"/>
                        <span asp-validation-for="Order.StateOrRegion" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.PostalCode" class="form-label"></label>
                        <input asp-for="Order.PostalCode" class="form-control" placeholder="Postal Code"/>
                        <span asp-validation-for="Order.PostalCode" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.Country" class="form-label"></label>
                        <input asp-for="Order.Country" class="form-control" placeholder="Country"/>
                        <span asp-validation-for="Order.Country" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.Email" class="form-label"></label>
                        <input asp-for="Order.Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="Order.Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.PhoneNumber" class="form-label"></label>
                        <input asp-for="Order.PhoneNumber" class="form-control" placeholder="Phone Number"/>
                        <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 border">
                <h2>Cart</h2>

                <table class="table">
                    <tbody>
                    @foreach (var item in Model.Cart.Items)
                    {
                        <tr>

                            <td>
                                <img src="@item.ImageUrl" class="img-fluid" style="max-width: 90px; height: auto;" alt="@item.Name"/>
                            </td>

                            <td>
                                <p>@item.Name</p>
                                <p>@item.TotalPrice</p>
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-2">Proceed to payment</button>
    </form>
</div>
