@model ProductDto

<div class="container">
    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Price" />
        <input type="hidden" asp-for="Quantity" />
        <input type="hidden" asp-for="ImageUrl" />
        <input type="hidden" asp-for="Slug" />
        <input type="hidden" asp-for="Sales" />
        <input type="hidden" asp-for="CompanyId" />
        <div class="row">
            <div class="col-4">
                <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Name"/>
            </div>
            <div class="col-8">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Product Name" value="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4" placeholder="Product Description">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>

                <button type="submit" class="btn btn-primary mt-2">Save changes</button>
            </div>
        </div>
    </form>
</div>
