@model SupplementsShop.Application.DTOs.CategoryDto

<h2>title</h2>
<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <a href="@Url.Action("Details", "Product", new { slug = product.Slug })" class="btn btn-primary">View Product</a>
                        <button class="add-to-cart-btn" data-product-id="@product.Id">Add to Cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
